---
layout: default
title: Blog
---
<div class="mt-4 text-lg font-bold">총 {{ site.wiki | size }}개의 문서</div>

<div class="my-2">
  {% assign documents = site.wiki | sort: 'updated' | reverse %}
  {% for doc in documents %}
  <a href="{{ doc.url }}">
    <div class="list-items">
      <div class="text-base text-lg font-bold">
        {{ doc.updated | date: "%Y.%m.%d" }} - {{ doc.title }}
      </div>
      <div class="flex">
        {% for tag in doc.tags %}
        <div class="p-1 mr-2 text-xs font-medium text-black bg-gray-300 border rounded ">
          # {{ tag }}
        </div>
        {% endfor %}
      </div>
    </div>
  </a>
  {% endfor %}
</div>
