---
layout: default
title: Tags
---

<div class="mx-3 mt-4 xl:mx-40 lg:mx-30">
    {% assign documents = site.wiki | sort: 'updated' %}
    {% assign tags =  site.wiki | map: 'tags' | uniq | sort %}
    <h2 class="text-lg font-bold">
        총 {{ tags.size }}개의 태그
    </h2>
    <ul class="p-4 mt-2 mb-4 border">
        {% for tag in tags %}
        <li>
            <h2 class="mb-3 text-2xl font-semibold">{{ tag }}</h3>
            <ul>
            {% for doc in documents %}
            {% if doc.tags contains tag %}
            {% include wiki_list.html doc=doc %}
            {% endif %}
            {% endfor %}
            </ul>
        </li>
        {% endfor %}

        <li>
            <h2 class="mb-2 text-xl font-semibold">undefined</h2>
            {% for doc in documents %}
            {% if doc.tags.size == 0 %}
            {% include wiki_list.html doc=doc %}
            {% endif %}
            {% endfor %}
        </li>
    </ul>
