<nav class="flex justify-around w-full border-b">
  <div class="flex">
    <a href="/" class="my-auto text-2xl font-bold text-teal-500">
      Wiki
    </a>
  </div>

  <div class="flex">
    <div class="flex">
      {% for item in site.data.nav %}
      <a href="{{ item.link }}" 
         class="text-lg p-4 font-bold {% if page.url == item.link %} bg-teal-500 text-white {% endif %}
         hover:bg-gray-500 hover:shadow-outline">
        {{ item.name }}
      </a>
      {% endfor %}
    </div>

    <div class="justify-end ml-4">
      <a href="https://github.com/ssayebee" target="_blank">
      <span class="text-4xl">
        <i class="fa fa-github" aria-hidden="true"></i>
      </span>
      </a>
    </div>
  </div>
</nav>
