<a href="{{ include.doc.url }}">
    <li class="p-4 mb-2 border rounded hover:bg-gray-100">
        <h2 class="text-base text-lg font-bold">
            {{ include.doc.title }}
        </h2>
        <i class="text-gray-600 fa fa-clock-o"></i>
        <time class="font-bold text-gray-600 time">{{ include.doc.updated }}</time>
        <h3 class="mt-2 font-bold text-blue-500">
            {{ include.doc.summary }}
        </h3>
        <ul class="flex flex-wrap">
            {% for tag in include.doc.tags %}
            <a href="/archive.html?tag={{ tag }}">
                <li class="p-1 mt-2 mr-2 text-xs font-medium text-black bg-gray-300 border rounded ">
                    # {{ tag }}
                </li>
            </a>
            {% endfor %}
        </ul>
    </li>
</a>
