---
layout: default
---

<div class="pb-10 md:mt-10 md:mx-40">
  <div class="lg:flex lg:items-start">
    <article class="px-3 border rounded markdown-body md:px-10">
      <div class="flex justify-between my-5">
        <a
          href="https://hits.dwyl.com/{{
            site.url | remove_first: 'https://' | remove_first: 'https://'
          }}{{ page.url }}"
          target="_blank"
        >
          <img
            src="https://hits.dwyl.com/{{
              site.url | remove_first: 'https://' | remove_first: 'https://'
            }}{{ page.url }}.svg"
          />
        </a>
        <div class="text-xs text-right text-gray-700">
          작성: {{ page.date | date: "%Y-%m-%d" }} 수정:
          {{ page.date | date: "%Y-%m-%d" }}
        </div>
      </div>
      <h1>{{ page.title }}</h1>
      <p class="text-2xl italic font-medium text-gray-600">
        {{ page.summary }}
      </p>
      {{ content }}
    </article>
    <div id="markdown-toc" class="hidden lg:block">
      {% include toc.html html=content %}
    </div>
  </div>
  <div class="flex flex-col pl-3 md:pl-0">
    {% if page.next.url %}
    <a class="mt-2" href="{{ page.next.url }}">
      <span class="font-bold text-blue-700">다음글</span>
      <em class="text-blue-600 hover:underline"> {{ page.next.title }} </em>
    </a>
    {% endif %} {% if page.previous.url %}
    <a class="my-2" href="{{ page.previous.url }}">
      <span class="font-bold text-blue-700">이전글</span>
      <em class="text-blue-600 hover:underline"> {{ page.previous.title }} </em>
    </a>
    {% endif %}
  </div>
  {% if page.comments %} {% include utterances.html %} {% endif %}
</div>
