---
layout: default
---

<article class="px-3 pb-10 mt-10 border rounded md:px-10 md:mx-40">
  <div class="flex justify-between my-5">
    <a href="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}"
     target="_blank">
      <img
     src="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}.svg" />
    </a>
    <div class="text-xs text-right text-gray-700">
      작성: {{ page.date | date: "%Y-%m-%d" }} 수정: {{ page.date | date: "%Y-%m-%d" }}
    </div>
  </div>
	{{ content }}
</article>
